.CategoriesButton {
  background: #365aeb;
 background-color: dimgrey;
  -webkit-border-radius: 22px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  font-family: Minecraft Evenings;
  color:aliceblue;
  font-size:50px;
  padding: 85px 100px 170px 40px;
  text-decoration: none;
  vertical-align: central;
  text-align:center;
 

}

@font-face {
    font-family: Minecraft Evenings;
    src: url('../fonts/Minecraft Evenings.otf') format('opentype');
}
.CategoriesButton:hover {
  background: #3cb0fd;
  background-color:beige;
  text-decoration: none;
}

