.CategoriesButton {
  background: #365aeb;
 background-color: dimgrey;
  -webkit-border-radius: 22px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  font-family: Minecraft Evenings;
  color:aliceblue;
  font-size:50px;
  padding: 85px 100px 170px 40px;
  text-decoration: none;
  vertical-align: central;
  text-align:center;
 

}

@font-face {
    font-family: Minecraft Evenings;
    src: url('../fonts/Minecraft Evenings.otf') format('opentype');
}
.CategoriesButton:hover {
  background: #3cb0fd;
  background-color:beige;
  text-decoration: none;
}
.adminbutton{
  
  
	height:2em;
	padding:15px 50px;
	margin:20px 40px;
	cursor:pointer;
	display:inline-block;
	color:#FFF;
	font-size:1em;
	border:1px solid #eee;
	background:#eee;
	border-radius:4px;
	line-height:2em;
	border:1px solid #aaa;
	text-decoration:none;
		
	-webkit-transition: all 0.3s linear;
     -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.green{
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}
