#Login {
    position: relative;
    top: -0px;
    background-color: #3c4543;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#Search {
    background-color:lightgreen;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#Categories {
    background-color:lightcyan;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#Navigation {
   /* position: fixed;
    top:10px;
    left:50%;
    margin-left:-254px;*/

}
body {
    background-color: azure;
}
ul{
    color: darkred;
}